.container{
    width: 40%;
}

.span {
    font-weight: 700;
    font-size: 2rem;
    color: var(--violetdark);
}

.title {
    font-weight: 700;
    font-size: 1.9rem;
    text-align: center;
   
    color: var(--violetlight);

}

.tokenLink{
    margin-top: 3rem;
    color: blue;

    /* TODO: dar estilos */
    text-decoration: underline;
}