.container {
    display: flex;  
    height:100%;
    
} 

.mainContainer{
    width: 100%;

    
}


.menu{
    height:100em;
    background-color: violet;

}


.headerContainer{
    background-color: var(--crema);


}