.container {
    display: flex;  
    height:100%;  
    margin: auto;
    
    
} 




.menu{
    height:100%;
    background-color: violet;

    
}

.headerContainer{
    background-color: var(--crema);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.mainSinHeader{   

    justify-content: center;
    width: 90%;
    margin: auto;
    /* Esto debe ser !important para que se mantenga el margin auto / sino volver todo a 100% y margin: 6rem 0 2rem */
    margin-top: 6rem !important;
    margin-bottom: 2rem !important;


}