@tailwind base;
@tailwind components;
@tailwind utilities;


/* Aquí definimos las Custom properties */
:root {
  

 
    --violetlight: #4f339ccb;
    --violetdark: #372174cb;
    --violethover:#ae9cdfcb;
    --crema: #f5f5f3;
    --white: white;
    --rojo: #e50914;
    --negro: #141414;
    --gris: #303030;
    --gris-f: #757575;    
    --gris-mod: #f5f5f5;    
    /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
    --tipo-secundaria: Verdana;
  }

  body{
    background-color: var(--crema);
  }

 /* Evitamos problemas con las imagenes */
 img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }

/* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }

  /* MODAL */
.formulario {
  width: 95%;
  margin: 0 auto;
  padding: 10rem 0;
}
@media (min-width: 768px) {
    .formulario {
        padding: 4rem 0;
        width: 60rem;
    }
}
.formulario legend {
    font-size: 2.2rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--violetdark);
}
.formulario .campo {
    display: grid;
    margin-bottom: 1.3rem;
}

.formulario label {
    color: var(--violetlight);
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1rem;
}

.formulario input[type="text"],
.formulario input[type="number"] {
    background-color: var(--gris-mod);
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
    flex: 1;
    font-size: 1rem;
}
.formulario select {
  background-color: var(--gris-mod);
  display: flex;
  padding: 0.55rem;
  border: none;
  border-radius: 1rem;
  flex: 1;
  text-align: center;
  font-size: 1rem;
}

.formulario input[type="submit"] {
  
    background-color: var(--violetdark);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem; 
    text-align: center;
    margin-top: 4rem;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
    transition: background-color 300ms ease;
}
@media (min-width: 768px) {
    .formulario input[type="submit"] {
        display: block;
        padding: 1rem 5rem;
    }
}
.formulario input[type="submit"]:hover {
    background-color: #042a67;
    cursor: pointer;
}

.modal {
    position: absolute;
    height: 100rem;
    background-color: rgba(0, 0, 0, 0.945);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal .cerrar-modal {
    position: absolute;
    right: 0.3rem;
    top: 2rem;
    
    width: 2rem;
    height: 2rem;
}
.modal .cerrar-modal img {
    
    width: 100%;
}

.modal .formulario {
    max-width: 80rem;
    width: 40rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    opacity: 0;
}
.modal label {
    color: var(--white);
}
body .modal {
    overflow: hidden;
}

.modal .formulario.animar {
    position: relative;
    opacity: 1;
}

.modal .formulario.cerrar {
    opacity: 0;
}
.modal .formulario.cerrar img{
  
    display: none;
}

.modal label {
    text-align: left;
}